<div class="row hiddenSec">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe?.recipeImageUrl" alt="{{recipe?.recipeName}}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe?.recipeName }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" appDropdown>
            <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="AddToShoppingList()">To Shopping List</a>
                <a class="dropdown-item" (click)="editRecipe()">Edit Recipe</a>
                <a class="dropdown-item">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe?.recipeDescription }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let item of recipe?.recipeIng">{{ item.name }} - {{ item.amount }}</li>
        </ul>
    </div>
</div>